body {
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.one {
    display: flex;
    justify-content: space-around
}

ul {
    display: flex;
    list-style-type: none;
}

.layout1 {
    background-color:rgb(31, 29, 29);


}

li {
    color: white;
    margin-right: 12px;
}

#headlogo {
    color: white;
    margin: 10px;
    font-size: 25px;
}

img {
    height: 300px;
    width: 500px;
    margin: 50px;
    margin-right: 150px;
}

.subone {
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    gap: 10px; 
}


h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 0px;
}

#texts1 {
    color: white;
    font-size: 20px;
    margin-top: 0px;
}

#buttonid {
    color: white;
    background-color: hsl(216, 83%, 54%);
    border-radius: 5px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.layout2 {
    display: flex;
    flex-direction: column;
    
}

.headingcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 3px solid rgb(29, 132, 228);
    margin-top: 15px;
}

.card div {
    width: 130px;
    margin-left: 60px;
    text-align: center;
    
}

h2 {
    font-size: 45px;
}

.layout3 {
    background-color: lightslategray;
    margin-top: 100px;
}

.layout3 p {
    font-style: italic;
    font-size: 45px;
    font-weight: normal;
}

.cotainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

p {
    width: 900px;
    margin-left: 200px;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
}